<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="RCD_Project.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="RCD_Connection" connectionString="metadata=res://*/RCD_Model.csdl|res://*/RCD_Model.ssdl|res://*/RCD_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\RCD_Database.mdf;integrated security=True;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="RCD_DAI" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\RCD_Database.mdf;Integrated Security=True" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <userSettings>
    <RCD_Project.Properties.Settings>
      <setting name="DureeExploitationVehicule" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="DistanceMinimumVidangeVehicule" serializeAs="String">
        <value>10000</value>
      </setting>
      <setting name="IntervalleMaintenanceVehicule" serializeAs="String">
        <value>365.23:59:59</value>
      </setting>
      <setting name="NotificationsActives" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FrequenceNotifications" serializeAs="String">
        <value>5000</value>
      </setting>
      <setting name="EffetSonoreNotificationsActif" serializeAs="String">
        <value>True</value>
      </setting>
    </RCD_Project.Properties.Settings>
  </userSettings>
</configuration>