<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Car_Rental_Project.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Car_Rental_Project.Properties.Settings.ConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Car_Rental_Database.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <Car_Rental_Project.Properties.Settings>
            <setting name="DureeExploitationVehicule" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="DistanceMinimumVidangeVehicule" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="IntervalleMaintenanceVehicule" serializeAs="String">
                <value>365.00:00:00</value>
            </setting>
        </Car_Rental_Project.Properties.Settings>
    </userSettings>
</configuration>